<%- include("header") -%>

<h2>This is the about Page</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam iusto totam accusamus culpa esse aliquam inventore autem doloremque quaerat ea consectetur laborum voluptatibus possimus, aperiam sunt quo nemo minima ab!
</p>

<%- include("footer") -%>